@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --triangle-base: 30px;
  --triangle-height: 15px;
  --triangle-left: 50%;

  --accent-colour: #bbc8ce;
  --solid-colour: green;
  --tip-top: 0px;
  --tip-left: 0%;
  --tip-position: absolute;
  --button-colour:#a214be;
}

.tooltip {
  position: var(--tip-position);
  left: var(--tip-left);
  top: var(--tip-top);
  border-image: fill 0 / / var(--triangle-height) linear-gradient(var(--accent-colour) 0 0);
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% 100%,
    min(var(--triangle-left) + var(--triangle-base) / 2, 100%) 100%,
    var(--triangle-left) calc(100% + var(--triangle-height)),
    max(var(--triangle-left) - var(--triangle-base) / 2, 0px) 100%
  );
}
.clip-svg {
  clip-path: url(#myClip);
  border-radius: 8px;
  width: 100px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  gap: 40px;

  padding: 20px;
  height: 100vh;

  @media (width < 700px) {
    flex-flow: column;
  }
}

.result {
  flex: 2;
  display: grid;
  place-items: center;
}

.noted {
  display: flex;
  flex-flow: column;
  place-items: center;
  gap: 20px;

  padding: 40px 60px;
  border: 2px solid var(--solid-colour);
  border-radius: 20px;

  text-align: center;
}

.tooltip {
  padding: 10px 15px;
  width: fit-content; 
  height: min-content;
  font-weight: 800;
  color: #fff;
  background-color: var(--accent-colour);
}

.text {
  border: 2px solid var(--solid-colour);
  padding: 10px 15px;

  font-weight: 800;
  font-style: oblique;
  color: var(--solid-colour);
}

.controls {
  flex: 1;

  display: flex;
  flex-flow: column;
  gap: 10px;
}

.property {
  display: -webkit-box;
  gap:7px;

  label {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    width: max-content;
  }

  input {
    width: min(500px, 100%);
    accent-color: var(--accent-colour);
  }
}

button {
  all: unset;

  padding: 10px 15px;
  border: 2px solid var(--accent-colour);

  width: fit-content;

  font-weight: 800;
  color: var(--button-colour);
  cursor: pointer;

  transition: background-colour 200ms ease-out;

  &:is(:hover, :active) {
    background-color: var(--button-colour);
    color: #fff;
  }

  &:active {
    transform: scale(102%);
  }
}
svg{
  font-size: large;
}

.nicked{
  flex: 0.8;
  background: none;
  border-width: 0px 10px 2px 0px;
  border-style: solid;
  display: flex;
  text-align: right;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-right: 5px;
  padding-left: 10px;
  align-items: center;
  flex-direction: row-reverse;
  border-radius: 20px;
  background-color: #bbc8ce;
  border-color: #c1dd22;
}