@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --triangle-base: 14px;
  --triangle-height: 10px;
  --triangle-top: 100%;
  --triangle-left: 50%;

  --accent-colour: #bbc8ce;
  --solid-colour: #020e13;
}

.tooltip {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: var(--triangle-top);
    left: var(--triangle-left);
    z-index: -1;

    width: var(--triangle-base);
    height: var(--triangle-height);
    background-color: var(--accent-colour);

    clip-path: polygon(
      max(50% - var(--triangle-left), 0%) 0,
      min(150% - var(--triangle-left), 100%) 0%,
      50% 100%
    );
    transform: translate(-50%);
  }
}

/* Aesthetic Styles */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  gap: 40px;

  padding: 20px;
  height: 100vh;

  @media (width < 700px) {
    flex-flow: column;
  }
}

.result {
  flex: 2;
  display: grid;
  place-items: center;
}

.noted {
  display: flex;
  flex-flow: column;
  place-items: center;
  gap: 20px;

  padding: 40px 60px;
  border: 2px solid var(--solid-colour);

  text-align: center;
}

.tooltip {
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px 5px 0 0;

  font-weight: 800;
  color: #fff;
  background-color: var(--accent-colour);
}

.text {
  border: 2px solid var(--solid-colour);
  padding: 10px 15px;

  font-weight: 800;
  color: var(--solid-colour);
}

.controls {
  flex: 1;

  display: flex;
  flex-flow: column;
  gap: 10px;
}

.property {
  display: flex;
  flex-flow: column;
  gap: 10px;

  label {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    width: max-content;
  }

  input {
    width: min(300px, 100%);
    accent-color: var(--accent-colour);
  }
}

button {
  all: unset;

  padding: 10px 15px;
  border: 2px solid var(--accent-colour);

  width: fit-content;

  font-weight: 800;
  color: #ed2453;
  cursor: pointer;

  transition: background-color 200ms ease-out;

  &:is(:hover, :active) {
    background-color: var(--accent-colour);
    color: #fff;
  }

  &:active {
    transform: scale(102%);
  }
}
